<header role="banner" id="devdap-header">
		<div class="fluid-container">
			<nav class="navbar navbar-default navbar-fixed-top js-fullheight">
				<div id="navbar" class="navbar-collapse js-fullheight">
					<ul class="nav navbar-nav navbar-left">
						<li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
						<li><a href="#" data-nav-section="services"><span>Services</span></a></li>
						<li><a href="#" data-nav-section="explore"><span>Project</span></a></li>
						<li><a href="#" data-nav-section="gallery"><span>Gallery</span></a></li>
						<li><a href="#" data-nav-section="pricing"><span>Pricing</span></a></li>
						<li><a href="#" data-nav-section="team"><span>Team</span></a></li>
					</ul>
				</div>
			</nav>
	  </div>
</header>
<section id="devdap-home" data-section="home" class="main-back" data-stellar-background-ratio="0.5">
<div class="gradient"></div>
<div class="container">
    <div class="text-wrap">
        <div class="text-inner">
            <div class="row">
                <div class="col-md-8  text-center">
                    <h1 class="to-animate">The DS - Drone</h1>
                    <h2 class="to-animate">New Way Of Photography, Power Beyond Imagination</h2>
                    <p><a href="#" class="btn to-animate btn-primary">Explore</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section id="devdap-services" data-section="services">
<div class="devdap-services">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">DS - Drone Features</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext">
                        <h3 class="to-animate"> The DS - Drone is a filmmaking drone in the world to integrate an HD video transmission system, 360° rotating gimbal and a 4K camera,</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="core-features">
                
                <div class="grid2">
                    <div class="core-f">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="core">
                                    <i class="fa fa-camera to-animate-2"></i>
                                    <div class="devdap-post to-animate">
                                        <h3>Structure</h3>
                                        <p>Magnesium aluminum composite shell and transforming design, carbon fiber arms.</p>
                                    </div>
                                </div>
                                <div class="core">
                                    <i class="fa fa-cog to-animate-2"></i>
                                    <div class="devdap-post to-animate">
                                        <h3>Configuration</h3>
                                        <p>Vision sensing, 2-axis FPV camera, range of supported cameras</p>
                                    </div>
                                </div>
                                <div class="core">
                                    <i class="fa fa-compass to-animate-2"></i>
                                    <div class="devdap-post to-animate">
                                        <h3>Propulsion</h3>
                                        <p>58mph (94kph) max speed, 2kg thrust per rotor, 15in props, maximum 27min flight time (with X4S)</p>
                                    </div>
                                </div>
                                <div class="core">
                                    <i class="fa fa-battery-full to-animate-2"></i>
                                    <div class="devdap-post to-animate">
                                        <h3>Battery</h3>
                                        <p>Dual battery, self-heating, battery redundancy, 98Wh</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid2 to-animate features-back" >
                </div>
            </div>
        </div>
        <div id="devdap-counter-section" class="devdap-counters">
            <div class="container">
                <div class="row to-animate">
                    <div class="col-md-3 text-center circle">
                        <span class="devdap-counter js-counter" data-from="0" data-to="3452" data-speed="5000" data-refresh-interval="50"></span>
                        <span class="devdap-counter-label">Taken Videos</span>
                    </div>
                    <div class="col-md-3 text-center circle">
                        <span class="devdap-counter js-counter" data-from="0" data-to="3000" data-speed="5000" data-refresh-interval="50"></span>
                        <span class="devdap-counter-label">Satisfied Clients</span>
                    </div>
                    <div class="col-md-3 text-center circle">
                        <span class="devdap-counter js-counter" data-from="0" data-to="6542" data-speed="5000" data-refresh-interval="50"></span>
                        <span class="devdap-counter-label">Clients </span>
                    </div>
                    <div class="col-md-3 text-center circle">
                        <span class="devdap-counter js-counter" data-from="0" data-to="8687" data-speed="5000" data-refresh-interval="50"></span>
                        <span class="devdap-counter-label">Taken Photograph</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section id="devdap-explore" class="new-grey" data-section="explore">
<div class="container">
    <div class="row">
        <div class="col-md-12 section-heading text-center">
            <h2 class="to-animate">User Gallery</h2>
            
        </div>
    </div>
</div>
<div class="devdap-project">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="project-grid to-animate-2 gallery-img-1-back">
                    <div class="desc">
                        <h3><a href="#">Cute Honey bee</a></h3>
                        <span>By: Louie D' Great Shot on Ds - Drone</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <div class="project-grid to-animate-2 gallery-img-2-back">
                    <div class="desc">
                        <h3><a href="#">Rapid Reality Capture</a></h3>
                        <span>By: John Doe Shot on Ds - Drone</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <div class="project-grid to-animate-2 gallery-img-3-back">
                    <div class="desc">
                        <h3><a href="#">Hill View</a></h3>
                        <span>By: Thomas Andy Shot on Ds - Drone</span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>	
</div>
</section>

<section id="devdap-pricing" data-section="pricing">
<div class="devdap-pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Buy DS - Drone For Amazing Photography</h2>
                
            </div>
        </div>

        <div class="row">
            
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-8 col-sm-8 col-md-offset-2 to-animate">
                <div class="price-box ">
                    
                    <div class="price"><sup class="currency">$</sup>2,699<small>/ Shipping:Free</small></div>
                    <hr>
                    <p>Wide Range Dynamic Scenes. The DS - Drone also introduces the DL-Mount, the world's first integrated aerial lens mount that allows switching between four available prime lenses quickly. An uprated camera is equipped with a 1-inch 20-megapixel sensor capable of shooting 4K/60fps video and Burst Mode stills at 14 fps. The adoption of titanium alloy and magnesium alloy construction increases the rigidity of the airframe and reduces weight.</p>
                    <p><a href="#" class="btn btn-pricing">Buy Now</a></p>
                </div>
            </div>
            
        </div>

        
    </div>
</div>
</section>	

<section id="devdap-gallery"  class="dark-grey"  data-section="gallery">
<div class="container">
    <div class="row">
        <div class="col-md-12 section-heading text-center">
            <h2 class="to-animate">Ds - Drone Gallery</h2>
            
        </div>
    </div>
</div>
<div class="devdap-project">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="project-grid to-animate-2 gallery-img-4-back">
                    
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="project-grid to-animate-2 gallery-img-5-back">
                    
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="project-grid to-animate-2 gallery-img-6-back">
                    
                </div>
            </div>
            
        </div>
    </div>	
</div>
</section>
<section id="devdap-team"  data-section="team">
<div class="devdap-team">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Top Photographers Use Ds - Drone</h2>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="team-box text-center to-animate-2">
                    <div class="user">
                    <%=image_tag("team/t1.jpg", alt: "")%>
                    </div>
                    <h3>Andy Roben</h3>
                    <span class="position">CEO, Picturesque</span>
                    
                    <ul class="social-media">
                    <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#" class="codepen"><i class="fa fa-codepen"></i></a></li>
                    <li><a href="#" class="github"><i class="fa fa-github-alt"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="team-box text-center to-animate-2">
                    <div class="user">
                        <%=image_tag("team/t2.jpg", alt: "")%>
                    </div>
                    <h3>Roger Thom</h3>
                    <span class="position">Photographer, Zoomin' Photos</span>
                    
                    <ul class="social-media">
                    <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#" class="codepen"><i class="fa fa-codepen"></i></a></li>
                    <li><a href="#" class="github"><i class="fa fa-github-alt"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-box text-center to-animate-2">
                    <div class="user">
                    <%=image_tag("team/t3.jpg", alt: "")%>
                    </div>
                    <h3>Roger Garfield</h3>
                    <span class="position">Photographer, Honey-Lens Pictures</span>
                    
                    <ul class="social-media">
                    <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#" class="codepen"><i class="fa fa-codepen"></i></a></li>
                    <li><a href="#" class="github"><i class="fa fa-github-alt"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-box text-center to-animate-2">
                    <div class="user">
                    <%=image_tag("team/t4.jpg", alt: "")%>
                    </div>
                    <h3>Rarfield Nato</h3>
                    <span class="position">CEO, Photo Phactory</span>
                    
                    <ul class="social-media">
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#" class="codepen"><i class="fa fa-codepen"></i></a></li>
                        <li><a href="#" class="github"><i class="fa fa-github-alt"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<div class="getting-started getting-started-1">
<div class="getting-grid getting-started-back">
    <div class="desc text-center">
        <h2>Getting Started</h2>
        <p>Buy The DS - Drone Now with 20% OFF Price and Feel The Touch of Real Photography.</p>
        <p><a href="#" class="btn btn-started">Buy Now</a></p>
    </div>
</div>
</div>